@import '../../variables.scss';

.train-list {
  list-style: decimal;
}

.next-train-wrapper {
  background-color: #ffff;
}

.next-train-container {
  max-width: $outer-max-width;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
